<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <servlet-name>loginlc</servlet-name>
    <servlet-class>com.control.loginlc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminUpload</servlet-name>
    <servlet-class>com.control.adminUpload</servlet-class>
    <multipart-config>
      <max-file-size>52428800</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>vo_publishAndSum</servlet-name>
    <servlet-class>com.control.vo_publishAndSum</servlet-class>
    <multipart-config>
      <max-file-size>52428800</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>vo_publishProject</servlet-name>
    <servlet-class>com.control.vo_publishProject</servlet-class>
    <multipart-config>
      <max-file-size>52428800</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>declc</servlet-name>
    <servlet-class>com.control.declc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updcl</servlet-name>
    <servlet-class>com.control.updcl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>admins</servlet-name>
    <servlet-class>com.control.admins</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>com.control.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.control.UpLoad</servlet-class>
    <multipart-config>
      <max-file-size>52428800</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginlc</servlet-name>
    <url-pattern>/loginlc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminUpload</servlet-name>
    <url-pattern>/adminUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>vo_publishAndSum</servlet-name>
    <url-pattern>/vo_publishAndSum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>vo_publishProject</servlet-name>
    <url-pattern>/vo_publishProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>declc</servlet-name>
    <url-pattern>/declc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updcl</servlet-name>
    <url-pattern>/updcl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>admins</servlet-name>
    <url-pattern>/admins</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upLoad</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index2.jsp</welcome-file>
  </welcome-file-list>
</web-app>