@charset "utf-8";
* {
    margin: 0px ;
    padding: 0px ;
    text-decoration: none ;
    list-style: none;
    font-size: 12px ;
    font-family: Arial ;
}
/**login**/
.login_body{background: transparent; background: url(../img/bg3.png);background-size:658px 658px;background-attachment:fixed;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.login_div{width:500px;height:500px; top: 50%; left: 50%; color: black; margin-top: -250px; margin-left: -250px; position:fixed;border-radius:10px; z-index: 9999; background: #FFFFFF; opacity: 0.7; box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);}
.login_div .login_title{text-align: center; font-size: 35px; margin-top: 30px; letter-spacing: 5px; font-weight: bold;}
.login_nav{margin-top: 140px;}
.login_username{text-align: right; height: 40px; line-height: 40px; font-size: 20px; font-weight: bold;}
.login_usernameInput{height: 40px; padding: 0px;}
#name{font-size: 12px; height: 40px; outline: 0px; border-radius: 10px; border: 1px solid #CCCCCC; width: 95%;}
.ok_gou{height: 40px; color: #5CB85C; font-size: 35px; display: none; text-align: center; border-radius: 10px;padding: 0px; line-height: 37px; border: 2px solid  #5CB85C;}
.error_cuo{height: 40px; color: red; font-size: 40px;  display: none; text-align: center; border-radius: 10px;padding: 0px; line-height: 30px; border: 2px solid red;}
.login_psdNav{margin-top: 30px;}
.login_psdNav .col-xs-4{text-align: right; height: 40px; line-height: 40px; font-size: 20px; font-weight: bold;}
.login_psdNav .col-xs-6{height: 40px; padding: 0px;}
#psd{height: 40px; font-size: 12px; outline: 0px; border-radius: 10px; border: 1px solid #CCCCCC; width: 95%; }
.login_btn_div{text-align: center; margin-top: 30px; padding-left: 50px;}
#login{outline: 0px; border: 0px; width: 200px; height: 40px; border-radius: 10px; color: white; font-weight: bold; font-size: 20px;}
.barter_btnDiv{text-align: center; position: absolute; bottom: 0; margin-bottom: 10px;}
.barter_btn{border: 0px; background: transparent; outline: 0px;}
.register_body{width:500px;height:500px; top: 50%; left: 50%; color: black; margin-top: -250px; margin-left: -250px; position:fixed;border-radius:10px; display: none; background: #FFFFFF; opacity: 0.7; box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);}
.register_title{text-align: center; font-size: 35px; margin-top: 30px; letter-spacing: 5px; font-weight: bold;}
.register_nav{margin-top: 140px;}
.register_nav .col-xs-4{text-align: right; height: 40px; line-height: 40px; font-size: 20px; font-weight: bold;}
.register_nav .col-xs-6{height: 40px; padding: 0px;}
#name_r{font-size: 12px; height: 40px; outline: 0px; border-radius: 10px; border: 1px solid #CCCCCC; width: 95%;}
.register_psdnav{margin-top: 30px;}
.register_psdnav .col-xs-4{text-align: right; height: 40px; line-height: 40px; font-size: 20px; font-weight: bold;}
.register_psdnav .col-xs-6{height: 40px; padding: 0px;}
#psd_r{height: 40px; font-size: 12px; outline: 0px; border-radius: 10px; border: 1px solid #CCCCCC; width: 95%;}
.register_affirm{margin-top: 30px;}
.register_affirm .col-xs-4{text-align: right; height: 40px; line-height: 40px; font-size: 20px; font-weight: bold; }
.register_affirm .col-xs-6{height: 40px; padding: 0px;}
#affirm_psd{height: 40px; font-size: 12px; outline: 0px; border-radius: 10px; border: 1px solid #CCCCCC; width: 95%; }
.register_btn_div{text-align: center; margin-top: 30px; padding-left: 50px;}
#register{outline: 0px; border: 0px; width: 200px; height: 40px; border-radius: 10px; color: white; font-weight: bold; font-size: 20px;}
.barter_register{text-align: center; position: absolute; bottom: 0;margin-bottom: 10px;}
.barter_registerBtn{border: 0px; background: transparent; outline: 0px;}
.sub_btn:hover{background: #31B0D5;}


.sel select{width: 235px;height: 40px;border-radius:10px;border-color: #c3c3c3;}
